@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

select {
    margin: 20px auto;
    font-size: 1em;
}

main {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 20px;
}

.error {
    margin-top: 5px;
    color: red;
}